.body{
  overflow-x: hidden;
  overflow-y: hidden;
}
.AreaLogin{
  
  background-image: linear-gradient(#52A3FE, #65CC66);
  height: 100vh;
  border-radius: 10px;
}

.AreaImagen{
 background-image: url("./img/milugar2.png");
 background-repeat: no-repeat;
 background-position: 120px 0px;
height: 100vh;
}


.Login{
  width: 100%;
  border-radius: 10px;
  min-height: 150px;
 
}

